.grid-container {
  color: #000000;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  div {
    grid-column: span 5;
  }
  height: 100vh;
}
.form-container {
  // margin: 100px 0;
  width: 100%;
  background: #fff;
  border: 1px solid rgb(84, 95, 125, 0.07);
  height: 100%;
  padding: 0 4em;
  transition: opacity 0.5s;
}
.mockup {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 5em 2em;
  .logo-div {
    padding-left: 24px;
  }
  // justify-content: space-between;
}

.mockup-img {
  min-width: 300px;
  margin-top: 50px;
  img {
    width: 100%;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  height: 100%;

  #submit {
    background: #39cdcc;
    margin-top: 1em;
    border: none;
    text-transform: uppercase;
    &:hover {
      background: #39cdcc90;
    }
  }
  div {
    width: 100%;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    justify-content: space-between;
    align-items: stretch;
  }
  .form-group {
    input {
      outline: none;
      border: 2px solid #545f7d26;
      padding: 12px 14px;
      border-radius: 6px;
      color: #000000;
      background-color: transparent;
      position: absolute;
      inset: 0;
      z-index: 3;
      &:focus {
        border-color: #545f7d;
        background-color: transparent;
      }
    }

    div {
      width: 100%;
      height: 45px;
      position: relative;
    }
    span {
      color: #b6bccd;
      position: absolute;
      bottom: 25%;
    }
    .label-span {
      left: 12px;
      background-color: #fff;
      transition: transform 0.3s;
    }
    .toggle-pass {
      color: #39cdcc;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
      background: none;
      right: 16px;
      z-index: 8;
      max-width: fit-content;
      &:hover {
        cursor: pointer;
      }
    }
    .input-active {
      transform: translateY(-18px);
      background-color: #fff;
      padding: 2px 2px 3px;
      z-index: 10;
      left: 9px;
    }
  }

  .form-title {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 1.25em;
    color: #213f7d;
    h3 {
      margin: 0 0 5px 0;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      color: #545f7d;
    }
  }

  .form-link {
    font-size: 12px;
    text-transform: uppercase;
    color: #39cdcc;
    text-decoration: none;
    &:hover {
      color: #39cdcc90;
    }
  }
}

input:autofill {
  background-color: transparent;
}

@media (max-width: 999px) {
  .mockup-img {
    img {
      margin-top: 100px;
    }
  }
}
@media (max-width: 768px) {
  .grid-container {
    display: block;
    width: 100%;
    position: relative;
    .mockup {
      position: absolute;
      z-index: 1;
      padding: 0 4px;
      .logo {
        align-self: center;
        padding-top: 1em;
      }
      .mockup-img {
        img {
          width: 100%;
        }
      }
    }

    .form-container {
      position: absolute;
      top: 40px;
      opacity: 0.975;
      border: none;
      // padding: 0 1em;
      z-index: 3;
    }
  }
}
