.table-container {
  width: 100%;
  min-height: 200px;
  overflow-x: auto;
  padding: 1em;
  color: #545f7d;
  font-size: 12px;
  box-shadow: 3px 5px 20px 0px #0000000a;
  border-radius: 4px;
  background-color: white;
  table {
    width: 100%;
    padding: 0 0.45em;
    z-index: 1;
  }
  th {
    font-size: 13px;
    font-weight: 600;
    color: #545f7d;
    cursor: pointer;
  }
  .table-row {
    padding-bottom: 0.2em;
    // position: relative;
    z-index: 0;
    // div {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    // }
    td {
      margin: 0;
      border-bottom: 1px solid #213f7d1a;
      padding: 6px;
      text-transform: capitalize;
    }
  }
}
.ctx-menu {
  position: absolute;
  top: 5;
  z-index: 10;
  right: 0;
  min-width: 180px;
  border: 1px solid rgba(84, 95, 125, 0.04);
  border-radius: 4px;
  background-color: white;
  box-shadow: 4px 4px 20px rgba(84, 95, 125, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.25em;
  padding: 0.5em 1.75em;

  div {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    &:hover {
      cursor: pointer;
    }
    a {
      color: inherit;
    }
  }
}
.pagination {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .limit-group {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    #limit {
      padding: 0.5em;
      border-radius: 4px;
      border: none;
      outline: none;
      font-size: 14px;
      font-weight: 600;
      background-color: #e3e2e2;
      color: #545f7d;
      cursor: pointer;
    }
  }
  .page-group {
    display: flex;
    align-items: center;
    column-gap: 0.75em;
    span {
      cursor: pointer;
    }
    button {
      padding: 0.5em;
      border-radius: 4px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 700;
      background-color: #e3e2e2;
      color: #545f7d;
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
    .active {
      opacity: 1;
    }
  }
}
.filter-btn {
  position: absolute;
  z-index: -10;
  top: -40px;
  // margin-bottom: 20px;
  // transform: translateY(0%);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hide {
  transform: translateY(100px);
}
.filter {
  position: absolute;
  top: 40px;
  left: 20px;
  .close {
    right: -30px;
    color: black;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-weight: 500;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.08);
    position: absolute;
  }
}

.table-filter {
  border: 1px solid rgba(84, 95, 125, 0.14);
  border-radius: 4px;
  background-color: white;
  padding: 1em;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);

  form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    .form-control {
      display: flex;
      flex-direction: column;
      row-gap: 0.2em;
      label {
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 500;
      }
      select {
        color: rgba(33, 63, 125, 1);
        padding: 0.5em;
        border: 1px solid rgba(33, 63, 125, 0.1);
        background-color: white;
        border-radius: 4px;
        option {
          text-transform: capitalize;
        }
      }
      input {
        padding: 0.5em;
        border: 1px solid rgba(33, 63, 125, 0.1);
      }
    }
    button {
      text-transform: capitalize;
      border: none;
      outline: none;
    }
  }
  .btn-group {
    display: flex;
    gap: 0.2em;
    justify-content: space-between;
    #reset {
      background-color: transparent;
      color: rgba(84, 95, 125, 1);
      border: 1px solid rgba(84, 95, 125, 1);
      &:hover {
        background-color: #f7f8f9;
      }
    }
  }
}

@media (max-width: 768px) {
  .page-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
