.header-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2em;
  min-height: 80px;
  box-shadow: 15px 2px 5px #0101;
  background-color: white;
}
.logo {
  width: 150px;
}
.input-group {
  height: 30px;
  display: flex;
  align-items: center;
  input {
    height: 100%;
    padding: 0.75em 0.75em;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border: 1px solid #ccced0;
  }
  .search-button {
    background-color: #39cdcc;
    height: 100%;
    color: white;
    padding: 0.35em 0.75em;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    &:hover {
      border: none;
    }
  }
}
.header-menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2em;
  button {
    display: none;
  }
}
.docs {
  text-decoration: underline;
  color: #213f7d;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .header-container {
    padding-left: 1em;
    padding-right: 1em;
  }
  .input-group {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .header-menus {
    column-gap: 1em;
    button {
      display: block;
    }
  }
}
