.layout-container {
  min-height: 100vh;
  color: #213f7d;
  div {
    z-index: 0;
  }
  main {
    margin-top: 80px;
    margin-left: 270px;

    padding: 2em;
    background-color: #fbfbfb;
  }
}

@media (max-width: 768px) {
  .layout-container {
    div {
      z-index: 20;
    }
    main {
      z-index: 0;
      margin-left: 0;
      padding: 1em;
    }
  }
}
